default_language_version:
  python: python3.9

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-yaml
      - id: check-xml
      - id: check-toml
      - id: requirements-txt-fixer
      - id: check-docstring-first

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus] # does not get values from pyproject.toml

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.2.1
    hooks:
      - id: autoflake

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.12.1
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies: ["flake8-bugbear", "flake8-pyproject"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.1
    hooks:
      - id: nbqa-pyupgrade
        args: ["--py39-plus"] # pyupgrade do not support pyproject.toml
      - id: nbqa-isort
      - id: nbqa-black
      - id: nbqa-flake8
        additional_dependencies: [flake8-bugbear, flake8-pyproject]

  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   rev: v0.1.9
  #   hooks:
  #     - id: ruff
  #       types_or: [python, pyi, jupyter] # Added Jupyter support
  #       args: [--fix]
  #     - id: ruff-format
  #       types_or: [python, pyi, jupyter]
